.root {
    -fx-background-color: #2c3e50;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.vbox {
    -fx-padding: 30;
    -fx-alignment: center;
}

#operazione {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0;
    -fx-padding: 15;
    -fx-text-fill: #2c3e50;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-max-width: infinity;
}

.label {
    -fx-font-size: 50;
    -fx-max-width: infinity;
    -fx-max-height: infinity;

    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #E8D5FF;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;

    -fx-cursor: hand;
    -fx-max-width: infinity;
    -fx-max-height: infinity;

    -fx-font-weight: bold;
    -fx-font-size: 50;
}

.button:hover {
    -fx-background-color: #C06BFF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button:pressed {
    -fx-background-color: #C06BFF;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#addiz, #sott, #molt, #div, #pAperta, #pChiusa, #clearBtn, #back, #eq, #pow, #conv{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

#addiz, #sott, #molt, #div, #pAperta, #pChiusa, #pow, #conv{
    -fx-background-color: #D9B8FF;
}
#addiz:hover, #sott:hover, #molt:hover, #div:hover, #pAperta:hover, #pChiusa:hover, #pow:hover, #conv:hover{
    -fx-background-color: #C06BFF;
}

#clearBtn, #back {
    -fx-background-color: #e74c3c;
}
#clearBtn:hover, #back:hover {
    -fx-background-color: #c0392b;
}

#eq {
    -fx-background-color: #27ae60;
    -fx-font-weight: bold;
}
#eq:hover {
    -fx-background-color: #2ecc71;
}

.hbox {
    -fx-spacing: 10;
}

.button {
    -fx-min-width: 80;
    -fx-pref-width: 1000;
}
